@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
#wolf2 {
    display: flex;
    width: 200px;
    height: 40px;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.all{
    display: flex;
}
#team1 {
    margin: auto;
    text-align: center;
}
.card1 {
    width: 400px;
    height: 200px;
    border-color: #D5D5D5;
    margin: 20px;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    box-shadow: 0px 18px 44px -27px rgb(0 0 0 / 50%);
    border: 1px solid #D5D5D5;
}
.card1 h2 {
    color: navy;
    font-size: 35px;
    margin-top: 10px;
}
.card1 p {
    font-size: 15px;
}
#k2 {
    margin: auto;
    text-align: center;
}
#r1 h2 {
    text-align: center;
    color: navy;
}
#r1 h3 {
    text-align: center;
    font-size: 20px;
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
    font-weight: normal;
}
#r1 span {
    color: red;
    font-weight: 700;
}
#r1 p {
    text-align: center;
    font-size: 1.125rem;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
}
.mywolf {
    text-align: center;
    margin: auto;
    width: 700px;
    height: 70px;
    border: 1px solid black;
    border-radius: 20px;
    background: linear-gradient(indigo, indigo, navy);
    margin-top: -35px;
}
.mywolf h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: white;
}

.wolfteam1 {
    width: 60%;
    height: auto;
    box-shadow: 0px 18px 44px -27px rgb(0 0 0 / 50%);
    border: 1px solid #D5D5D5;
    margin: auto;
    background: #f8f8fa;
    margin: auto;
}
.card2 {
    box-shadow: 0px 18px 44px -27px rgb(0 0 0 / 50%);
    border: 1px solid #D5D5D5;
    width: 300px;
    height: 270px;
    display: inline-block;
    margin: 10px;
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 25%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    margin: 10px;
}

.all_card {
    margin: auto;
    text-align: center;
    align-items: center;
    height: auto;

}
.card2 img {
    width: 66px;
    height: 66px;
}
#l3 {
    margin-bottom: 30px;
}

#wolf12 {
    display: inline-block;
    margin: 30px;
    padding: 33px;
}

.wolf1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#wolf9 {
    background: rgb(44, 158, 44);
    height: 50px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0px 18px 44px -27px rgb(0 0 0 / 50%);
}




.sh1 {
    margin: auto;
    text-align: center;
}


table {
    margin: auto;
    text-align: center;
    color: black;
    width: 700px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 18px 44px -27px rgb(0 0 0 / 50%);
    margin-top: 20px;
}
table tr {
     border: 1px solid black;
     margin: 20px;
     border-radius: 10px;
}
table td {
     margin: 10px;
     padding: 10px;
}


table a { 
    color: #FFD700;
}

.sh1 h2 { 
    color: black;
}
.sh1 h3 {
    color: navy;
}


.sh2 {
    width: 220px;
    height: 40px;
}






.teamm1 {
	margin: auto;
	text-align: center;
	align-items: center;
	margin-top: 20px;
	width: 1600px;
	height: 600px;
	margin-top: 20px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 18px 44px -27px rgb(0 0 0 / 50%);
    border: 1px solid #D5D5D5;

}

.textt1 {
	display: inline-block;
	width: 400px;
	height: 400px;
	border: 5px solid black;
	display: flex;
	margin: auto;
	margin-left: 30%;
	margin-top: 50px;
	font-size: 20px;
	background: white;
	overflow: hidden;
    margin-top: 100px;
    margin-bottom: 20px;
}

.a7mad1 img {
	width: 1000px;
	display: flex;
	margin: auto;
	margin-top: -87px;
    text-align: center;
    justify-content: center;
    margin-left: -250px;
}

.textt1 p {
	margin: auto;
	text-align: center;
	font-size: 30px;
	color: black;
	background: white;
	height: 400px;
	width: 400px;
	margin-top: 85px;
    padding: 10px;
    font-family: 'Amiri', serif;
}

.textt1 span {
    color: #191970;
    font-weight: 700;
}

.a7mad1 {
	background: #808080;
	border-radius: 50%;
	width: 450px;
	height: 450px;
	display: flex;
	margin: auto;
	align-items: center;
	text-align: center;
	margin-right: 20%;
	margin-top: -400px;
}







@media screen and (min-width:1350px) and (max-width:900px) {
    .teamm1 {
        margin-top: 20px;
        width: 100%;
        height: 500px;
        margin-top: 20px;
    
    
    }
    
    .textt1 {
        display: inline-block;
        width: 400px;
        height: 400px;
    }
    
    .a7mad1 img {
        width: 900px;
        margin-top: -100px;
        margin-left: -250px;
    }
    
    .textt1 p {
        height: 400px;
        width: 400px;
        margin-top: 85px;
    }
    
    .a7mad1 {
        width: 400px;
        height: 400px;
        display: flex;
        margin: auto;
        margin-right: 20%;
        margin-top: -400px;
    }

}



















@media screen and (max-width:400px) {
    .mywolf {
        width: 90%;
        margin-bottom: 20px;
    }
    .mywolf h2 {
        font-size: 19px;
        margin-top: 25px;
    }
    .card1 {
        margin: 5px;
    }
    .card2 {
        display: block;
        width: 100%;
        margin: auto;
        border-radius: 1px;
    }
    #wolf12 {
        box-shadow: 0px 18px 44px -27px rgb(0 0 0 / 50%);
    border: 1px solid #D5D5D5;
    height: 270px;
    display: inline-block;
    margin: 10px;
    margin: auto;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 1px;
    margin: 10px;
    margin: auto;
    }
    
table {
    margin: auto;
    text-align: center;
    color: black;
    width: 90%;
    font-size: 16px;
    border-radius: 10px;
}
}


@media screen and (min-width:400px) and (max-width:700px){
    .mywolf {
        width: 90%;
    }
    .mywolf h2 {
        font-size: 19px;
        margin-top: 25px;
    }
    .card1 {
        margin: 5px;
    }
    table {
        margin: auto;
        text-align: center;
        color: black;
        width: 90%;
        font-size: 16px;
        border-radius: 10px;
    }
}
